@import url("https://fonts.googleapis.com/css2?family=Poppins");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  scroll-padding-top: 140px;
  scroll-behavior: smooth;
}

.home {
  margin-top: 140px;
  min-height: calc(110vh - 140px);
  z-index: -1;
}

.hero1 {
  background-image: url("../img/hero1.webp");
  height: 79vh;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: color-dodge;
  background-attachment: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 100px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.hero1 h1 a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  text-shadow: 4px 4px 10px #49CB3E;
}

.cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 35px;
}

.card1,
.card3 {
  height: 300px;
  width: 320px;
  border-radius: 5px;
  -webkit-box-shadow: rgba(17, 17, 26, 0.05) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
          box-shadow: rgba(17, 17, 26, 0.05) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
}

.card2 {
  height: 350px;
  width: 320px;
  border-radius: 5px;
  -webkit-box-shadow: rgba(17, 17, 26, 0.05) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
          box-shadow: rgba(17, 17, 26, 0.05) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
}

.card1 {
  background-color: #2895f1;
}

.card2 {
  background-color: #0071d1;
}

.card2 img {
  height: 100px;
}

.card3 {
  background-color: #0060b1;
}

.card1,
.card2,
.card3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 10px;
  color: white;
}

.description {
  font-weight: lighter;
  margin-top: 5px;
}

.card1 img,
.card3 img {
  height: 100px;
}

.services {
  min-height: 110vh;
  width: 100%;
  margin-top: 30px;
}

.service-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 150px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.service-logo .service-logo2 {
  height: 200px;
  -o-object-fit: contain;
     object-fit: contain;
}

.service-logo .serviceText {
  margin-top: 30px;
  border-bottom: 5px solid #49CB3E;
  border-radius: 5px;
  letter-spacing: 3px;
}

.service-section-1 {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.service-section-1-text,
.service-section-1-image {
  -webkit-box-flex: 5;
      -ms-flex: 5;
          flex: 5;
  height: 85vh;
  margin: 60px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-bottom: 2px dotted gray;
}

.service-section-1-text {
  padding: 0px 10px;
}

.service-section-1-text h3 {
  color: #157fda;
  letter-spacing: 3px;
}

.service-section-1-text h2 {
  color: grey;
  letter-spacing: 3px;
}

.service-section-1-text p {
  margin-top: 10px;
  font-size: 1rem;
  color: #999;
  text-align: left;
}

.service-section-1-text button {
  height: 50px;
  width: 40%;
  background: #157fda;
  border: none;
  outline: none;
  border-radius: 10px;
  color: white;
  font-weight: bold;
  font-size: 1.3rem;
  cursor: pointer;
  margin: 10px;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.service-section-1-text button:hover {
  background: #49CB3E;
}

.service-section-1-image iframe {
  height: 90%;
}

.service-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 300px;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.service-cards .card {
  height: 200px;
  width: 250px;
  cursor: pointer;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.service-cards .card img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.service-cards .card .text {
  text-align: center;
  background: #157fda;
  color: white;
  margin-top: -5px;
  padding: 10px;
}

.service-cards .card:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.faq {
  min-height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 60px;
}

.faq .title {
  border-bottom: 4px solid #157fda;
  color: gray;
  margin-bottom: 30px;
}

.faq .accordion {
  width: 700px;
  border-bottom: 1px solid lightgray;
}

.faq .accordion .accordion_header {
  min-height: 50px;
  width: 100%;
  background-color: #fff;
  -webkit-box-shadow: 3px 3px 10px rgba(122, 122, 122, 0.3);
          box-shadow: 3px 3px 10px rgba(122, 122, 122, 0.3);
  cursor: pointer;
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
}

.faq .accordion .accordion_header .fas {
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.faq .accordion .accordion_header .fas.open {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.faq .accordion .accordion_header button {
  min-height: 50px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 30px;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: #fff;
}

.faq .accordion .accordion_body {
  padding: 0 1rem;
  text-align: left;
  max-height: 0;
  overflow: hidden;
  -webkit-transition: .5s;
  transition: .5s;
}

.faq .accordion .accordion_body.open {
  max-height: 40rem;
  padding: 1rem;
}

.faq .accordion .accordion_body::-moz-selection {
  background: none;
}

.faq .accordion .accordion_body::selection {
  background: none;
}

.queries {
  margin-top: 140px;
  min-height: calc(100vh - 140px);
  width: 100%;
  background-image: url("../img/appointment.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-blend-mode: color-dodge;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 40px;
}

.queries .title {
  color: white;
  border-bottom: 1px solid white;
}

.queries .form {
  height: 400px;
  width: 500px;
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 10px;
  padding-top: 30px;
}

.queries .form .input {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 4px auto;
}

.queries .form .input input {
  width: 300px;
  border: none;
  outline: none;
  height: 40px;
  border: 1px solid lightgray;
  padding-left: 10px;
}

.queries .form .input textarea {
  border: none;
  outline: none;
  border: 1px solid lightgray;
  margin-left: 20px;
  resize: none;
}

.queries .form .send_button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.queries .form .send_button button {
  background: -webkit-gradient(linear, left top, right top, from(#1d86df), to(#39b49a));
  background: linear-gradient(to right, #1d86df 0%, #39b49a 100%);
  width: 50%;
  height: 40px;
  border: none;
  outline: none;
  color: white;
  font-size: 1.2rem;
  cursor: pointer;
  margin: 20px;
}

.disease {
  min-height: calc(100vh - 140px);
  width: 100%;
  margin-top: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.disease h1 {
  font-weight: lighter;
  color: gray;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  cursor: pointer;
  margin-bottom: 1px;
}

.disease h1:hover {
  border-bottom: 1px solid #157fda;
}

.disease .disease-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-top: 20px;
}

.disease .disease-cards .card {
  height: 200px;
  width: 250px;
  margin: 40px 0px 40px 10px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.disease .disease-cards .card img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.disease .disease-cards .card .text {
  width: 100%;
  padding: 10px;
  background: #157fda;
  cursor: pointer;
  bottom: 0;
}

.disease .disease-cards .card .text a {
  text-decoration: none;
  color: white;
}

.disease .disease-cards .card .text a span {
  color: lightgray;
}

.disease .disease-cards .card:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.disease_detail {
  min-height: 100vh;
  width: 100%;
  margin-top: 140px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.disease_detail h1 {
  font-weight: lighter;
}

.disease_detail .img {
  width: 600px;
}

.disease_detail .img img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.disease_detail .text {
  width: 850px;
}

.floater {
  position: fixed;
  bottom: 8%;
  right: 5%;
  height: 70px;
  width: 70px;
  border-radius: 50%;
  background-color: #49CB3E;
  color: white;
  text-align: center;
  font-size: 3rem;
  cursor: pointer;
  -webkit-box-shadow: 5px 5px 15px #49CB3E;
          box-shadow: 5px 5px 15px #49CB3E;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.floater:hover {
  background: #157fda;
  -webkit-box-shadow: 5px 5px 15px #157fda;
          box-shadow: 5px 5px 15px #157fda;
}
/*# sourceMappingURL=style.css.map */