<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home -NepMeds</title>

    <!-- header icon -->
    <link rel="icon" href="{% static 'img/logo.png' %}">

    <!-- fontawesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer"
    />

    <!-- css files -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/footer.css' %}">
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">

</head>

<body>

    <header>
        <div class="nav-top">
            <div class="logo">
                <a href="/"><img src="{% static 'img/logo.png' %}" alt="NepMeds Logo"></a>
                <span class="logo">NepMeds</span>
            </div>
            <div class="phone">
                <div class="phone-icon">
                    <i class="fas fa-phone-alt"></i>
                </div>
                <span><a href="tel:9800000000">98 000 000</a></span>
            </div>
            <div class="email">
                <div class="email-icon">
                    <i class="far fa-envelope"></i>
                </div>
                <span><a href="mailto:nepmeds@gmail.com">nepmeds@gmail.com</a></span>
            </div>
            <div class="clock">
                <div class="clock-icon">
                    <i class="far fa-clock"></i>
                </div>
                <span><a href="#">24 x 7</a></span>
            </div>
        </div>

        <div class="nav-bottom">
            <div class="nav-links">
                <ul>
                    <li><a class="active nav-link" href="#home">Home</a></li>
                    <li><a class="nav-link" href="#services">Services</a></li>
                    <li><a class="nav-link" href="#faq">FAQ</a></li>
                    <li><a class="nav-link" href="{% url "queries" %}">Queries</a></li>
                    <li><a class="nav-link" href="{% url "diseaselist" %}">Diseases</a></li>
                </ul>
            </div>
            <div class="search">
                <input type="text" placeholder="Search....">
            </div>
        </div>
    </header>

    <div class="home" id="home">
        <div class="hero1">
            <img src="{% static 'img/logo.png' %}" alt="Logo" height="150px">
            <h1>
                <a href="" class="typewrite" data-period="1000" data-type='["Welcome to NepMeds", "We provide best online medical service", "World Class Doctors", "Quick response time.", "We care for you."]'>
                    <span class="wrap"></span>
                </a>
            </h1>
            <div class="cards">
                <div class="card1">
                    <img src="{% static 'img/ambulance.png' %}" alt="Ambulance">
                    <p class="title">
                        <b>Reliable Service</b>
                    </p>
                    <p class="description">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima, sapiente! Dolor necessitatibus reprehenderit quisquam vero?
                    </p>
                </div>
                <div class="card2">
                    <img src="{% static 'img/heart.png' %}" alt="Heart">
                    <p class="title">
                        <b>World Class Service</b>
                    </p>
                    <p class="description">
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vero hic itaque eveniet aspernatur eos est.
                    </p>
                </div>
                <div class="card3">
                    <img src="{% static 'img/clock.png' %}" alt="Clock">
                    <p class="title">
                        <b>24 x 7 Available</b>
                    </p>
                    <p class="description">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima, sapiente! Dolor necessitatibus reprehenderit quisquam vero?
                    </p>
                </div>
            </div>
        </div>
        <div class="hero2">

        </div>
    </div>

    <!-- service page -->
    <div class="services" id="services">
        <div class="service-logo">
            <img class="service-logo2" src="{% static 'img/logo2.png' %}" alt="Login">
            <div class="serviceText">
                <h1>Services we provide</h1>
            </div>
        </div>

        <div class="service-section-1">
            <div class="service-section-1-text">

                <h3>Our Work</h3>
                <h2>Online Medical Consultancy</h2>
                <p>
                    NepMeds is empowered by the group of worlds most proficient Doctors. Our platform is one of the top class online medical service provider. Our aim to provide quality health servies to the people at cheapest cost possible.
                </p>
                <p>
                    We are also actively contributing for health servies in rural places. <i>Funds are highly appreciated.</i>
                </p>
                <button>
                    Donate 
                </button>
            </div>
            <div class="service-section-1-image">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/UYjlbTnF-YE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
        <div class="service-cards">
            <div class="card">
                <img class="service-card-img" src="{% static 'img/service1.jpg' %}" alt="Digital Control Center">
                <div class="text">
                    Digital Control Center
                </div>
            </div>
            <div class="card">
                <img class="service-card-img" src="{% static 'img/service2.jpg' %}" alt="Hygenice Operating Room">
                <div class="text">
                    Hygenice Operating Room
                </div>
            </div>
            <div class="card">
                <img class="service-card-img" src="{% static 'img/service3.jpg' %}" alt="Specialist Physician">
                <div class="text">
                    Specialist Physician
                </div>
            </div>
            <div class="card">
                <img class="service-card-img" src="{% static 'img/service4.jpg' %}" alt="Digital Control Center">
                <div class="text">
                    Digital Control Center
                </div>
            </div>
        </div>
    </div>

    <!-- faq page -->
    <div class="faq" id="faq">
        <div class="title">
            <h1> Frequently Asked Questions About Covid-19</h1>
        </div>
        <div class="accordion">
            <div class="accordion_header">
                <button class="accordion_btn">In what conditions does COVID-19 survive the longest?<i class="fas fa-angle-down"></i></button>
            </div>
            <div class="accordion_body">
                Coronaviruses die very quickly when exposed to the UV light in sunlight. Like other enveloped viruses, SARS-CoV-2 survives longest when the temperature is at room temperature or lower, and when the relative humidity is low less than 50%.
            </div>
        </div>
        <div class="accordion">
            <div class="accordion_header">
                <button class="accordion_btn">How long should I self-quarantine if I have been exposed to COVID-19?<i class="fas fa-angle-down"></i></button>
            </div>
            <div class="accordion_body">
                Those who may have been exposed to someone with COVID-19 and those who have recently travelled to a country or region with the widespread transmission have been advised to self-quarantine for 14 days from the time of last possible exposure.
            </div>
        </div>
        <div class="accordion">
            <div class="accordion_header">
                <button class="accordion_btn">Can you contract COVID-19 from touching surfaces?<i class="fas fa-angle-down"></i></button>
            </div>
            <div class="accordion_body">
                People may also become infected by touching surfaces that have been contaminated by the virus when touching their eyes, nose or mouth without cleaning their hands. Further research is ongoing to better understand the spread of the virus and which settings
                are most risky and why.
            </div>
        </div>
        <div class="accordion">
            <div class="accordion_header">
                <button class="accordion_btn">Can COVID-19 be transmitted through food?<i class="fas fa-angle-down"></i></button>
            </div>
            <div class="accordion_body">
                There is currently no evidence that people can catch COVID-19 from food. The virus that causes COVID-19 can be killed at temperatures similar to that of other known viruses and bacteria found in food.
            </div>
        </div>
        <div class="accordion">
            <div class="accordion_header">
                <button class="accordion_btn">Can the coronavirus disease spread through feces?<i class="fas fa-angle-down"></i></button>
            </div>
            <div class="accordion_body">
                The risk of catching the COVID-19 virus from the faeces of an infected person appears to be low. There is some evidence that the COVID-19 virus may lead to intestinal infection and be present in faeces. Approximately 2−10% of cases of confirmed COVID-19
                disease presented with diarrhoea (2−4), and two studies detected COVID-19 viral RNA fragments in the faecal matter of COVID-19 patients (5,6). However, to date only one study has cultured the COVID-19 virus from a single stool specimen
                (7). There have been no reports of faecal−oral transmission of the COVID-19 virus.
            </div>
        </div>
        <div class="accordion">
            <div class="accordion_header">
                <button class="accordion_btn">Do smokers get more severe symptoms of COVID-19 if infected?<i class="fas fa-angle-down"></i></button>
            </div>
            <div class="accordion_body">
                Smoking any kind of tobacco reduces lung capacity and increases the risk of many respiratory infections and can increase the severity of respiratory diseases. COVID-19 is an infectious disease that primarily attacks the lungs. Smoking impairs lung function
                making it harder for the body to fight off coronaviruses and other respiratory diseases. Available research suggests that smokers are at higher risk of developing severe COVID-19 outcomes and death.
            </div>
        </div>
        <div class="accordion">
            <div class="accordion_header">
                <button class="accordion_btn">Can COVID-19 cause severe disease?<i class="fas fa-angle-down"></i></button>
            </div>
            <div class="accordion_body">
                While COVID-19 is spreading rapidly, most people will experience only mild or moderate symptoms. That said, this coronavirus can cause severe disease in some people.
            </div>
        </div>
        <div class="accordion">
            <div class="accordion_header">
                <button class="accordion_btn">In what conditions does COVID-19 survive the longest?<i class="fas fa-angle-down"></i></button>
            </div>
            <div class="accordion_body">
                Coronaviruses die very quickly when exposed to the UV light in sunlight. Like other enveloped viruses, SARS-CoV-2 survives longest when the temperature is at room temperature or lower, and when the relative humidity is low less than 50%.
            </div>
        </div>
        <div class="accordion">
            <div class="accordion_header">
                <button class="accordion_btn">How long should I self-quarantine if I have been exposed to COVID-19?<i class="fas fa-angle-down"></i></button>
            </div>
            <div class="accordion_body">
                Those who may have been exposed to someone with COVID-19 and those who have recently travelled to a country or region with the widespread transmission have been advised to self-quarantine for 14 days from the time of last possible exposure.
            </div>
        </div>
    </div>

    <div class="footer">
        <div class="title">
            <img src="{% static 'img/logo.png' %}" alt="logo">
            <h3>NepMeds - We care for you'.</h3>
        </div>
        <h4>&copy 2021 NepMeds Corporation</h4>
    </div>

    <div class="floater">+</div>
</body>

<!-- typewriter effect -->
<script src="{% static 'js/Typewrite.js' %}"></script>

<!-- accordion js -->
<script src="{% static 'js/Accordion.js' %}"></script>

<!-- open new tab for querypage -->
<script>
    document.querySelector('.floater').addEventListener('click', () => {
        window.open("{% url 'queries' %}", "_blank");
    })
</script>

</html>